<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-witdh, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJs - Formulário de Cadastro</title>
  
  <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ titulo }}</h1>
    <label for="">Nome</label><br>
    <input type="text" v-model="nome">

    <br><br>
    <label for="">Telefone</label><br>
    <input type="text" v-model="telefone">

    <br><br>
    <label for="">Deseja receber nossas novidades?</label><br>
    <input type="radio" value="Sim" v-model="novidades">Sim
    <input type="radio" value="Não" v-model="novidades">Não

    <br><br>
    <label for="">Interesses</label><br>
    <input type="checkbox" value="Futebol" v-model="interesses">Futebol<br>
    <input type="checkbox" value="Fórmula 1" v-model="interesses">Fórmula 1<br>
    <input type="checkbox" value="Corrida" v-model="interesses">Corrida<br>

    <br><br>
    <button>Enviar</button>

    <hr>
    Nome: {{ nome }}<br>
    Telefone: {{ telefone }}<br>
    Novidades: {{ novidades }}<br>
    Interesses: {{ interesses }}<br>
  </div>
  
  <script src="js/app.js"></script>
</body>
</html>
